<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <p><%=button_to("1", purge_update_path(1), method: "put", class: "btn btn-default") %></p>

    <table class="table">
      <tr>
        <th>
          Key
        </th>
        <th>
          Current Value
        </th>
        <th>
          Set
        </th>
        <tr>
          <td>Purge Days</td>
          <td></td>
          <td class="buttons">
            <%=button_to("3", purge_update_path(3), method: "put", class: "btn btn-default") %>
            <%=button_to("5", purge_update_path(5), method: "put", class: "btn btn-default") %>
            <%=button_to("8", purge_update_path(8), method: "put", class: "btn btn-default") %>
          </td>
        </tr>
        <% @settings.each do |setting| %>
        <tr>
          <td><%=setting.key %></td>
          <td><%=setting.current_value %></td>
          <td class="buttons">
            <% setting.allowed_values.each do |val| %>
              <% if val.to_s == setting.current_value %>
                <a class="btn btn-default disabled"><%=val %></a>
              <% else %>
                <a href="<%=config_update_path(:key => setting.key, :value => val ) %>" class="btn btn-default"><%=val %></a>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
